portfolio-assets/Personal-files/Winter-2025-Salary-Projections.pdf
portfolio-assets/Personal-files/Unofficial transcript.pdf
portfolio-assets/Personal-files/embedded control/Anthony Ibarra.docx
Portfolio.code-workspace
