/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"); */
::-webkit-scrollbar {
    width: 1.15em;
}
::-webkit-scrollbar-track{
    background: var(--bg-color);
    border-radius: 100vw;
    margin-block: .5em
}
::-webkit-scrollbar-thumb{
    background: rgb(1 90 1 / 0%);/*linear-gradient(red,blue)*/
    border: .25em solid var(--main-color);
    border-radius: 100vw;

    box-shadow: inset 0 0 0.5em 0 var(--main-color), 0 0 1em 0 var(--main-color);
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(var(--text2-color), var(--bg-color));
    filter: blur(0.5em);
}
@supports (scrollbar-color: red blue){
    *{
        scrollbar-color: rgb(2, 253, 2) hsl(120 75% 50% / 1);
        scrollbar-width: auto;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --bg-image: url(./portfolio-assets/isaac-benhesed-onLbXleIkds-unsplash.jpg);
    
    --bg-color: #fdfdfd;
    --second-bg-color: #7eff85;
    --cd-color: #262626;
    --text-color: #333;
    --text2-color: #097934;
    --main-color: #097934;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}
.dark-mode {
    --bg-image: url(./portfolio-assets/CsomZ0kh.png);
    --bg-color: #010702;
    --second-bg-color: #0a2a1b;
    --text-color: #fdfdfd;
    --text2-color: #087231;
    --main-color: #02fb3c73;
    --shadow-color: rgba(255, 255, 255, 0.47);
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background:  var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:  100;
    transition: .5s;
}
.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}
.header:hover{
    background: var(--bg-color);
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: transparent;
}

.logo{
    width: 26px;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.logo span {
    color: var(--text2-color);
}
.navbar .sidemenu a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}.navbar .sidemenu a:active{
    color: var(--main-color);
}
.navbar .sidemenu a::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 10px 20px;
}
nav ul li:active{
    color: var(--main-color);
}

nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--text2-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#darkMode-icon {
    font-size: 2.4rem;
    color: var(--text-color);
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}










/* ------------ home ---------------- */
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: var(--bg-image) no-repeat;
    background-size: cover;
    background-position: center;
}
.home-content{
    max-width: 60rem;
    margin-top: 20%;
    font-size: 30px;
    z-index: 99;
}
.home-content p{
    color: var(--text-color);
}
.home-content h1{
    color: var(--text-color);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 20px;
}
.home-content h1 span{
    color: var(--text2-color);
}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}
.home-content .text-animate h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
}
.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn.btn3{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid transparent;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn.btn3:hover {
    color: var(--main-color)
}
.btn-box .btn.btn3:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn.btn3:nth-child(2):hover {
    color: var(--main-color);
}
.btn-box .btn.btn3:nth-child(2)::before{
    background: var(--cd-color);
}
.btn-box .btn.btn3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--cd-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn.btn3:hover::before {
    width: 100%;
}
.home-sci {
    position: absolute;
    bottom: 4rem;
    stroke-width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--cd-color);
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}
.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: transparent;
    /* border: 2px solid red; */
    transition: 3s;
}
.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}
/* ------------------about---------------- */
#about{
    padding: 80px 0;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 16px;
}
span{
    color: var(--main-color);
}
.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 2.6rem;
    margin: 3rem 12% 3rem;
}

.row{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--text-color);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--text2-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}
.tab-contents ul li span{
    color: var(--text2-color);
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-links:hover::after{
    width: 100%;
}









/* ------------accordion about------- */
.wrapper {
    max-width: 69rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  .wrapper .title{
    font-size: 2.6rem;
    margin: 3rem 12% 3rem;
  }
  .accordion {
    --_button-size: 3rem;
    --_panel-padding: 0.75rem;
    --_panel-gap: 1rem;
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
  
    contain: content;
    padding: 0.5rem;
  
  }
  
  @media (min-width: 45em) {
    .accordion {
      flex-direction: row;
      height: 30rem;
    }
  }
  @media (max-width: 44rem){
    .accordion{
        height: 55rem;
    }
  }
  
  .accordion * {
    margin: 0;
  }
  
  .accordion-panel {
    position: relative;
    cursor: pointer;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
    overflow: hidden;
    padding: var(--_panel-padding);
    padding-right: calc(var(--_panel-padding) * 4);
    border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
  }
  .accordion-panel:hover{
    transform: scale(1.04);
  }
  .accordion-panel p{
    color: var(--white-color);
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .accordion-panel {
      transition: flex-basis 500ms, flex-grow 500ms, transform 0.2s ease;
    }
  }
  
  .accordion-panel:nth-of-type(1) {
    --_panel-color: hsl(160, 70%, 50%);
  }
  .accordion-panel:nth-of-type(2) {
    --_panel-color: hsl(184, 70%, 50%);
  }
  .accordion-panel:nth-of-type(3) {
    --_panel-color: hsl(220, 70%, 50%);
  }
  .accordion-panel:nth-of-type(4) {
    --_panel-color: hsl(350, 70%, 50%);
  }
  .accordion-panel:nth-of-type(5) {
    --_panel-color: hsl(87, 43%, 40%);
  }
  .accordion-panel:nth-of-type(6) {
    --_panel-color: hsl(20, 70%, 50%);
  }
  
  .accordion-panel:has([aria-expanded="true"]) {
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
  }
  
  .accordion-trigger {
    outline: 0;
  }
  
  .accordion-panel:focus-within {
    outline: 3px solid var(--_panel-color);
    outline-offset: 4px;
  }
  .accordion-content ul{
    color: white;
  }
  .accordion-content > ul {
    transform: translateY(2rem);
    opacity: 0;
  
    margin-left: calc(var(--_button-size) + var(--_panel-gap));
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .accordion-panel:has([aria-expanded="true"]) ul {
      transition: transform 500ms 500ms, opacity 500ms 500ms;
    }
  }
  
  .accordion-panel:has([aria-expanded="true"]) ul {
    transform: translateY(0);
    opacity: 1;
  }
  
  .accordion-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
  
    position: relative;
    isolation: isolate;
  
    display: grid;
    align-items: center;
  }
  
  @media (max-width: 44.999em) {
    .accordion-title::after {
      content: "";
      position: absolute;
      left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
      width: calc(100% + (var(--_button-size) * 2));
      height: var(--_button-size);
      background: hsl(0 0% 0% / 0.5);
      z-index: -1;
      border-radius: 100vw;
    }
  }
  
  .accordion-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  
    transition: filter 500ms;
  }
  
  .accordion-panel:has([aria-expanded="true"]) .accordion-image {
    filter: brightness(0.5);
  }
  
  .accordion-trigger {
    display: flex;
    align-items: center;
    gap: var(--_panel-gap);
    flex-direction: row-reverse;
    background: transparent;
    border: 0;
    padding: 0;
  }
  
  .accordion-icon {
    fill: var(--_panel-color);
    background: hsl(0 0% 0% / 0.55);
    width: var(--_button-size);
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border-radius: 50%;
    z-index: 10;
  }






/* -----------education------------- */
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 16rem;
}
.education-row .education-column{
    flex: 1 1 35%;
}
.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: 2rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.education-content .content p {
    font-size: 1.6rem;
    padding-bottom: .5rem;
}






/* ---------------skills section------------- */
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: var(--text-color);
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display:  block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 65%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 50%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 60%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 60%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span{
    width: 65%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(7) .bar span{
    width: 45%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(1) .bar span{
    width: 70%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(2) .bar span{
    width: 75%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(3) .bar span{
    width: 20%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(4) .bar span{
    width: 20%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(5) .bar span{
    width: 20%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(6) .bar span{
    width: 5%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(7) .bar span{
    width: 8%;
}







/* --------------services------------ */
#services{
    padding: 30px 2%;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: var(--cd-color);
    color: var(--text2-color);
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div :nth-child(1){
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div p{
    margin-bottom: 5px ;
}
.services-list div:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateY(-10px);
}














/* ---------------portfolio------------ */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--text2-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.btn:hover{
    background: var(--main-color);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.holder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.holder img{
    width: 90%;
    border: .2rem solid var(--main-color);
    object-fit: cover;
}
.container .title{
    font-size: 3.5rem;
    color: var(--text-color);
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.container .project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 0 0 17px
}
.container .project-container .project{
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: var(--shadow-color);
    outline: .1rem solid var(--main-color);
    outline-offset: -1.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.container .project-container .project:hover{
    outline: .2rem solid var(--text2-color);
    outline-offset: 0;
}
.container .project-container .project img{
    height: 25rem;
    border-radius: 10px;
    transition: 0.5s;
}
.container .project-container .project:hover img{
    transform: scale(.9);
}
.container .project-container .project h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: var(--text-color);
}
.container .project-container .project:hover h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: var(--text2-color);
}
.container .project-container .project .status{
    font-size: 2rem;
    color: var(--text-color);
}
.project-preview{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.project-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: var(--bg-color);
    position: relative;
    margin: 2rem;
    width: 40rem;
}
.project-preview .preview.active{
    display: inline-block;
}
.project-preview .preview img{
    object-fit: cover;
    height: 30rem;
}
.project-preview .preview .fa-times{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    color: var(--text2-color);
    font-size: 4rem;
    transition: .5s;
    z-index: 101;
}
.project-preview .preview .fa-times:hover{
    transform: rotate(720deg);
}
.project-preview .preview h3{
    color: var(--text-color);
    padding: .5rem 0;
    font-size: 2.5rem;
}
.project-preview .preview .stars{
    padding: 1rem 0;
    font-size: 1.7rem;
}
.project-preview .preview .stars i{
    color: var(--text2-color);
}
.project-preview .preview .stars span{
    color: var(--text-color);
}
.project-preview .preview p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--text-color);
}
.project-preview .preview .status{
    padding: 1rem 0;
    font-size:  2.5rem;
    color: var(--text2-color);
}
.project-preview .preview .buttons{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.project-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size:  1.8rem;
    color: var(--text-color);
    border: .1rem solid var(--text-color);
}

#side-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    place-content: center;
    text-align: center;
}
#other-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    place-content: center;
    text-align: center;
}
.card{
    display:  grid;
    grid-template-columns: 3rem 24rem 2.94rem;
    grid-template-rows: repeat(3, auto);
}
.back-card{
    background: var(--text2-color);
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    border-radius: 1rem;
    
    display: grid;
    grid-template-rows: 10rem;
    grid-template-columns: inherit;

    z-index: -1;
    transform: scale(.8, .6);
    transition: 250ms;
}

.back-card div{
    justify-content: center;
    display: none;
    padding-block: 0rem;
    grid-column:  2 / 3;
    transition: 500ms;
}
.back-card div i{
    margin-top: 6px;
    font-size: 4rem;
}
.front-card{
    background: var(--bg-color);
    /* padding: 0rem 0rem 3rem; */
    grid-column: 2 /3;
    grid-row: 2 / 4;
    border-radius: .5rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    display: flex;
    justify-content: center;
    gap: 2rem;
    transition: 400ms;
    cursor: pointer;
    z-index: 0;
}
.card:hover {

    .back-card{
        transition: transform: 200ms cubic-bezier(0.21, 1, 0.81, 1), opacity: 100ms linear;
        opacity: 1;
        transform: scale(.9, 1.2);
    }
    .back-card div{
        display: grid ;
    }
    .front-card{
        transform:  translateY(-6%) scale(.95);
    }
    .front-card .rep-info .overlay{
        height: 15%;
        width: 100%;
        z-index: 1;
    }
}
.front-card .rep-info img{
    position: relative;
    object-fit: cover;
    box-shadow: inset 0 0 10px 10px #000;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    max-width: 100%;
}
.front-card .rep-info .overlay{
    position: absolute;
    background: linear-gradient(var(--bg-color), rgba(0, 0, 0, 0));
    /* top: 0; */
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    /* height: 15%;
    width: 100%;
    z-index: 0; */
    height: 6%;
    width: 24rem;
    z-index: 1;
    transition: .5s;
}
.front-card h2{
    position: absolute;
    margin: 10px;
    z-index: 2;
}
.rep-info .img-size{
    height: 240px;
}
.rep-info > *{
    margin: 0;
}
.name{
    font-size: 1.825rem;
    margin: 5px;
}
.total{
    display: flex;
    align-items: center;
    gap: .35em;
    font-size: 1.275rem;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 100vw;
    width: max-content;
    padding: .05em .75em;
    margin-top: 1em;
    margin-bottom: 1.25em;
    margin-inline: auto;
    opacity: .7;
}
.status{
    display: flex;
    align-items: center;
    gap: .35em;
    font-size: 1.275rem;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 100vw;
    width: max-content;
    padding: .05em .75em;
    margin-top: 1em;
    margin-bottom: 1.25em;
    margin-inline: auto;
    opacity: .7;
}
.status::before{
    content: '';
    height: .6em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: limegreen;
}



@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 768px){
    .project-preview .preview img{
        height: 25rem;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}









/* ------------------showcase work----------------- */
.show-work{
    display: block;
}
.show-work ul{
    list-style: none;
}
.title-work{
    display: flex;
}
.title-work h1{
    font-size: 60px;
    margin-top: 20px;
}
.work-legend{
    display: block;
    list-style: none;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 0.5em 0 var(--main-color);
    padding: 14px 20px;
    margin: 12px 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #272727;
    flex-wrap: wrap;
    margin: 20px;
}
.work-legend li{
    margin: 10px;
    padding: 5px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--text-color);
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    transition: border 0.5s;
}
.work-legend li:hover{
    border: 1px solid var(--text2-color);
}
.project-filter-active{
    box-shadow: inset 0.4em 0 0 0 var(--text2-color);
    color: #272727;
}
.work-legend button{
    text-decoration: none;
    background: transparent;
    font-size: 30px;
    margin-right: 15px;
    color: var(--main-color);
    display: inline-block;
    transition: transform 0.5s;
}
.work-legend button:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}
.work-legend h1{
    text-align: center;
    font-size: x-large;
}
.work-legend h2{
    font-size: x-small;
}
.work-legend span{
    font-size: medium;
}
.backbtn{
    display: block;
    margin: 50px auto;
    background-color: var(--bg-color);
    width: fit-content;
    border: 1px solid var(--text2-color);
    border-radius: 10px;
    padding: 14px 50px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.backbtn:hover{
    background: var(--main-color)
}

.game-feature {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
.game-feature-box{
    overflow: hidden;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    padding: 8% 5%;

    position: relative;
    height: 470px;
    width: 80%;
    margin: 0 auto;

}
.feature_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.feature_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.feature_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    clip-path: circle(0% at 0 50%);
}
.feature_slide.current-slide{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.feature_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;

    display: inline-block;
    background: var(--bg-color);
    margin: 0px 0px;
    padding: 13px 7px;
    width: fit-content;
    border: 1px solid var(--text2-color);
    border-radius: 34px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.feature_button:hover{
    background: var(--main-color);
}
.feature_button--left{
    left: 0px;
}
.feature_button--right{
    right: 0px;
}
.feature_nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.feature_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--text-color);
    margin: 0 12px;
    cursor: pointer;
}
.feature_indicator.current-slide{
    background: var(--main-color);
}
.is-hidden {display: none;}

.showcase-work {
    
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(0 0 0 / 63%), var(--main-color)52, var(--main-color));
    border-radius: 1px;
    position: inherit;
    left: 0;
    bottom: 0;
    transform: translate(0vw, 0vw);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    
}
.game-feature-box img{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0vw, 0vw);
}
#myPDF {
    width: 100%;
    display: flex;
    height: 250px;
    padding-left: 9%;
    padding-right: 7%;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}








/* --------------contact section---------------- */
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--white-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--cd-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn.btn2{
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}







/* --------------contact-------------- */
.contact-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 10px;
    font-size: 16px;
}
.contact-left p i{
    color: var(--text2-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
    margin-bottom: 10px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}
.dropdown{
    position: relative;
    display: inline-block;
}
.btn.btn2{
    display: inline-block;
    background: var(--bg-color);
    margin: 10px 5px;
    margin-bottom: 0;
    padding: 14px 20px;
    width: fit-content;
    border: 1px solid var(--text2-color);
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.btn.btn2:hover{
    background: var(--main-color);
}
.btn.btn3{
    font-size: 103%;
    display: inline-block;
    background: var(--bg-color);
    margin: 0px 0px;
    padding: 8px 11px;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: border 0.5s;
    box-shadow:  rgba(0,0,0,0.2);
}
.btn.btn3:hover{
    border: 1px solid var(--text2-color);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: var(--bg-color);
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {border: 1px solid var(--text2-color);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
.contact-right form{
    width: 100%;   
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 15px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
#msg{
    color: var(--main-color);
    margin-top: -40px;
    display: flex;
    justify-content: center;
}










/* ----------------button to the top----------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px solid var(--text2-color);
    outline: none;
    background-color: var(--bg-color);
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: background 0.5s;
}
#myBtn:hover {
    background-color: var(--main-color);
}












/* ----------------------Copyright------------------ */
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: var(--text2-color);
}












/* ----------------css for small screens--------------- */
nav .fas{
    display: none;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url(./portfolio-assets/hannah-troupe-0FQneB1VjaM-unsplash.jpg);
    }
    .home-content{
        margin-top: 18%;
        font-size: 25px;
    }
    .home-content h1{
        font-size: 40px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        display: block;
        background: linear-gradient(var(--bg-color), var(--text2-color), var(--bg-color));
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 84%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 15px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .services-list div{
        font-size: 15px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .layer{
        height: 100%;
    }
    .game-feature-box{
        padding: 12% 9%;
        height: 310px;
        width: 100%;
    }
    #myPDF{
        height: 150px;
    }
}

/* breakpoints */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 1rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media (max-width: 768px){
    .header{
        background: var(--bg-color);
        padding: 2rem 4%;
    }
    a.logo{
        z-index: 1;
        translate: 0px 0px;
    }
    nav.navbar{
        z-index: -1;
        translate: 0 -100%;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem var(--shadow-color);
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }
    .home-imgHover{
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}
@media (max-width: 520px){
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .home-sci{
        width: 160px;
    }
    .home-sci a{
        width: 38px;
        height: 38px;
    }
}
@media (max-width: 462px){
    .home-content h1{
        font-size: 5.2rem;
    }
    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field{
        width: 100%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}
@media (max-width: 371px){
    .home{
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1{
        font-size: 5rem;
    }
}















/* ------animation-------- */
@keyframes homeBgText{

    0%,
    10%,
    100%{
        background-position: -33rem 0;
    }

    65%,
    85%{
        background-position: 0 0;
    }
}
@keyframes homeCursorText{

    0%,
    10%,
    100%{
        width: 0;
    }

    65%,
    78%,
    85%{
       width: 100%;
       opacity: 1;
    }

    75%,
    81%{
        opacity: 0;
    }
}
@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



