/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"); */
::-webkit-scrollbar {
    width: 1.15em;
}
::-webkit-scrollbar-track{
    background: var(--bg-color);
    border-radius: 100vw;
    margin-block: .5em
}
::-webkit-scrollbar-thumb{
    background: rgb(1 90 1 / 0%);/*linear-gradient(red,blue)*/
    border: .25em solid var(--main-color);
    border-radius: 100vw;

    box-shadow: inset 0 0 0.5em 0 var(--main-color), 0 0 1em 0 var(--main-color);
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(var(--text2-color), var(--bg-color));
    filter: blur(0.5em);
}
@supports (scrollbar-color: red blue){
    *{
        scrollbar-color: rgb(2, 253, 2) hsl(120 75% 50% / 1);
        scrollbar-width: auto;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --bgb-image: url(./portfolio-assets/hannah-troupe-0FQneB1VjaM-unsplash.jpg);
    --bgw-image: url(./portfolio-assets/isaac-benhesed-onLbXleIkds-unsplash.jpg);
    
    --bg-color: #fdfdfd;
    --cd-color: #262626;
    --text-color: #333;
    --text2-color: #00ff62;
    --main-color: #04dda3;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}
.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --text2-color: #00ff62;
    --main-color: #04dda3;
    --shadow-color: rgba(0, 0, 0, .2);
}
html{
    scroll-behavior: smooth;
}
body{
    background:  var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index:  100;
    transition: .5s;
}
.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}
.container{
    /* background: var(--bgw-image); */
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: transparent;
    /* box-shadow: 0 0 1em 0 var(--main-color); */
    /* border-radius: 1vw; */
}

.logo{
    width: 140px;
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}
.navbar a::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white-color);
}
nav ul{
    display: flex;
}

nav ul li{
    /* display: inline-block; */
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--text2-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 30%;
    font-size: 30px;
}
.header-text p{
    color: var(--text-color);
}
.header-text h1{
    color: var(--text-color);
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: var(--text2-color);
}
#darkMode-icon {
    font-size: 2.4rem;
    color: var(--text-color);
    cursor: pointer;
}



/* ------------------about---------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--text-color);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--text2-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}
.tab-contents ul li span{
    color: var(--text2-color);
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-links:hover::after{
    width: 100%;
}

/* --------------services------------ */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: var(--cd-color);
    color: var(--text2-color);
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div :nth-child(1){
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div p{
    margin-bottom: 5px ;
}
.services-list div:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateY(-10px);
}
/* ---------------portfolio------------ */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--text2-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.btn:hover{
    background: var(--main-color);
}
/* ------------------showcase work----------------- */
.show-work{
    display: block;
}
.show-work ul{
    list-style: none;
}
.title-work{
    display: flex;
}
.title-work h1{
    font-size: 60px;
    margin-top: 20px;
}
.work-legend{
    display: block;
    list-style: none;
    /* z-index: 98; */
    position: -webkit-sticky;
    position: sticky;
    /* translate: 0px 0px 0px; */
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 0.5em 0 var(--main-color);
    padding: 14px 20px;
    margin: 12px 0px;
    overflow-y: scroll;
    overflow-x: hidden;


    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #272727;
    flex-wrap: wrap;
    margin: 20px;
}
.work-legend li{
    margin: 10px;
    padding: 5px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    transition: border 0.5s;
}
.work-legend li:hover{
    border: 1px solid var(--text2-color);
}
.project-filter-active{
    box-shadow: inset 0.4em 0 0 0 var(--text2-color);
    color: #272727;
}
.work-legend button{
    text-decoration: none;
    background: transparent;
    font-size: 30px;
    margin-right: 15px;
    color: var(--main-color);
    display: inline-block;
    transition: transform 0.5s;
}
.work-legend button:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}
.work-legend h1{
    text-align: center;
    font-size: x-large;
}
.work-legend h2{
    font-size: x-small;
}
.work-legend span{
    font-size: medium;
}
.backbtn{
    display: block;
    margin: 50px auto;
    background-color: var(--bg-color);
    width: fit-content;
    border: 1px solid var(--text2-color);
    border-radius: 10px;
    padding: 14px 50px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.backbtn:hover{
    background: var(--main-color)
}

.game-feature {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
.game-feature-box{
    /* margin-top: 3.12vw; */
    /* width: 78.69vw;
    height: 51.62vw; */
    overflow: hidden;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    padding: 8% 5%;

    position: relative;
    height: 470px;
    width: 80%;
    margin: 0 auto;

}
.feature_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.feature_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.feature_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    clip-path: circle(0% at 0 50%);
}
.feature_slide.current-slide{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.feature_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: transparent; */
    /* border: 0; */
    cursor: pointer;
    z-index: 100;

    display: inline-block;
    background: var(--bg-color);
    margin: 0px 0px;
    padding: 13px 7px;
    width: fit-content;
    border: 1px solid var(--text2-color);
    border-radius: 34px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.feature_button:hover{
    background: var(--main-color);
}
.feature_button--left{
    left: 0px;
}
.feature_button--right{
    right: 0px;
}
.feature_nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.feature_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--text-color);
    margin: 0 12px;
    cursor: pointer;
}
.feature_indicator.current-slide{
    background: var(--main-color);
}
.is-hidden {display: none;}



.showcase-work {
    
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(0 0 0 / 63%), var(--main-color)52, var(--main-color));
    border-radius: 1px;
    position: inherit;
    left: 0;
    bottom: 0;
    transform: translate(0vw, 0vw);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    /* transition: height 0.5s; */
    
}
.game-feature-box img{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0vw, 0vw);
}
#myPDF {
    width: 100%;
    display: flex;
    height: 250px;
    padding-left: 9%;
    padding-right: 7%;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
/* --------------contact-------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: var(--text2-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}
.dropdown{
    position: relative;
    display: inline-block;
}
.btn.btn2{
    display: inline-block;
    background: var(--bg-color);
    margin: 10px 5px;
    padding: 14px 20px;
    width: fit-content;
    border: 1px solid var(--text2-color);
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.btn.btn2:hover{
    background: var(--main-color);
}
.btn.btn3{
    display: inline-block;
    background: var(--bg-color);
    margin: 0px 0px;
    padding: 8px 11px;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: border 0.5s;
    box-shadow:  rgba(0,0,0,0.2);
}
.btn.btn3:hover{
    border: 1px solid var(--text2-color);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: var(--bg-color);
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {border: 1px solid var(--text2-color);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
.contact-right form{
    width: 100%;   
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 15px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}


/* ----------------button to the top----------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px solid var(--text2-color);
    outline: none;
    background-color: var(--bg-color);
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: background 0.5s;
}
#myBtn:hover {
    background-color: var(--main-color);
}



/* ----------------------Copyright------------------ */
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: var(--text2-color);
}

/* ----------------css for small screens--------------- */
nav .fas{
    display: none;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url(./portfolio-assets/hannah-troupe-0FQneB1VjaM-unsplash.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 25px;
    }
    .header-text h1{
        font-size: 40px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        display: block;
        background: linear-gradient(var(--bg-color), var(--text2-color), var(--bg-color));
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 15px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .services-list div{
        font-size: 15px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .layer{
        height: 100%;
    }
    .game-feature-box{
        padding: 12% 9%;
        height: 310px;
        width: 100%;
    }
    #myPDF{
        height: 150px;
    }
}




/* ---------------------THREE Image Transition-------------------- */


/* #instructions {
	position: absolute;
	color: var(--text-color);
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
} */